* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: chocolate;
}
.intro-heading {
    font-size: 5em;
}
.button1 {
    background-color: red;
}
.button2 {
    background-color: yellow;
}
.button3 {
    background-color: blue;
}
.button4 {
    background-color:green;
}
.start-color {
    border-radius: 10px;
    width: 15em;
    height: 10em;
    border: none;
    margin: 0 .2em;
    box-shadow: 8px 10px 8px rgba(118, 45, 45, 0.2);
}
ul {
    font-size: 1.8em;
    list-style: none;
}
li {
    padding: .2em;
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}
#start-button {
    font-size: 2em;
    padding: .6em;
    border: none;
    background-color: burlywood;
    margin-bottom: 2em;
    box-shadow: 8px 10px 8px rgba(118, 45, 45, 0.2);
    border-radius: 5px;
}
#game-container {
   display: none;
}
#game-heading {
    font-size: 5em;
}
.game-button {
    width: 15em;
    height: 15em;
    border: none;
    margin: 0 1em 0 1em;
    box-shadow: 8px 10px 8px rgba(118, 45, 45, 0.2);
    border-radius: 10px;
}
.game-paragraph {
    font-size: 3em;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.level {
    font-size: 5em;
}
#game-end {
    display: none;
}
.hideAudio {
    display: none;
}
.turnedOn {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.game-button.pressed {
    transform: translateY(5px);
    box-shadow: none;
}
.end-heading {
    font-size: 4em;
}
#restart-button {
    font-size: 2em;
    border-radius: 10px;
    padding: .6em;
    border: none;
    background-color: burlywood;
    box-shadow: 8px 10px 8px rgba(118, 45, 45, 0.2);
    margin-top: .1em;
}
.troll {
    margin: 3em;
    width: 15em;
}
.level-display {
    font-size: 2em;
}
.game-end-level {
    display: block;
    font-size: 2em;
}
.rotate {
    animation: rotate 1.5s infinite;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}